{% extends "base.html" %}

{% block content %}
<div class="layout-content-wrap">

<div class="layout-content-header">
    <h1 class="page-hero-text">Submit new event</h1>
</div>

<form class="form-search" action="" enctype="multipart/form-data" method="post">{% csrf_token %}

<div class="page-subhero-text">Upload your image</div>
	<div id="preview">
         <img id="imghead"  src=''>
	</div>
      
	 <div style="position:relative;">
		<button id="browzer_button" style="position:absolute; margin-left:30px;width:150px;"/> Browzer </button>
		<input type="file" name="picture" style="opacity:0; z-index:1;" onchange="document.getElementById('browzer_button').value = this.value;previewImage(this);" />
	 </div>
<br><br>

<div class="page-subhero-text">Add any additional info</div>

EVENT TITLE <br>
<input type = "text" name="title"/><br> 
EVENT URL <br>
<input type = "text" name="refer"/><br>
EVENT DATE <br>
<input type = "text" name="date" placeholder="yyyy-mm-dd"/><br>
EVENT LOCATION <br>
<input type = "text" name="loc"/><br>
EVENT DETAIL <br>
<textarea type = "text" name="body"></textarea><br>
TAGS / CATEGORIES <br>
<select name="tags">
	{% for tag in tags %}
		<option value="{{tag}}">{{tag}}</option>
	{% endfor %}
  			
</select>

<br>
<div class="page-subhero-text">Submit for authorization</div>

<input type="submit" value="Submit" />
</form>
<br>
<br>

</div><!-- .layout-content-wrap -->
{% endblock %}
