{% extends "base.html"%}
<!-- http://stackoverflow.com/questions/3066391/extend-base-html-problem -->

{% block title %}
<title>USF Event - Archives</title>
{% endblock %}

{% block content %}


<div class="layout-content-header">
    <h1 class="page-hero-text">Event archives</h1>
</div>

{% for event in events %}
{% if event.flagged %}
    <h4>This event is not showing because it's flagged.</h4>
{% else %}
    <h2><a href="{% url single event.id %}">{{ event.title }}</a></h2>
    <div class="event-meta">
        {{ event.created }}
    </div>
{% endif %}

{% endfor %}


{% endblock %}
