{% extends "base.html" %}

{% block content %}

<form class="form-search" action="" enctype="multipart/form-data" method="post">{% csrf_token %}

Title: <input type = "text" name="title"/><br> 
Body: <input type = "text" name="body"/><br>
Refer: <input type = "text" name="refer"/><br>
Tags(this one doesn't work): <input type = "text" name="tags"/><br>
Date: <input type = "text" name="date" placeholder="yyyy-mm-dd"/><br>


<input type = "file" name="picture"/>
 <input type="submit" value="Upload" />
</form>

{% endblock %}
