{% extends "base.html" %}

{% block content %}

<!--JQuery DatePicker css and js starts-->

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $( "#datepicker" ).datepicker();
});
</script>
<!--JQuery DatePicker css and js ends-->



<div class="layout-content-wrap">

<div class="layout-content-header">
    <h1 class="page-hero-text">New design order form</h1>
</div>

<form class="form-search" action="" enctype="multipart/form-data" method="post">{% csrf_token %}

<div class="entry-content-block">
<input class="form-field-regular" type="text" name="project_name" placeholder="PROJECT NAME"/><br> 
<label class="form-label-regular" for="major">Client Information</label>
<input class="form-field-regular" type="text" name="client_name" placeholder="NAME"/><br> 
<input class="form-field-regular" type="text" name="client_phone" placeholder="PHONE NUMBER"/><br> 
<input class="form-field-regular" type="text" name="client_email" placeholder="EMAIL"/><br> 
<input class="form-field-regular" type="text" name="client_org" placeholder="ORGANIZATION"/><br>


<input class="form-field-regular" type="text" name="date"  placeholder="EVENT DATE mm/dd/yyyy" id="datepicker"/><br>
<select class="form-dropdown-regular" name="time" size="1">

  {% for time_hour in time_hours %}
	<option value="{{time_hour}}:00">{{time_hour}}:00</option>
	<option value="{{time_hour}}:15">{{time_hour}}:15</option>
	<option value="{{time_hour}}:30">{{time_hour}}:30</option>
	<option value="{{time_hour}}:45">{{time_hour}}:45</option>
  {% endfor %}
  
</select>
<input class="form-field-regular" type = "text" name="loc" placeholder="EVENT LOCATION"/><br>
<textarea class="form-textarea-regular" type = "text" name="body" row="5" placeholder="EVENT DETAIL"></textarea><br>

TAGS / CATEGORIES <br>

{% for tag in tags %}
<input type="checkbox" id="id_{{tag}}" name="tags" value="{{tag}}" >
<label style="display:inline;" class="form-label-regular" for="id_{{tag}}">{{tag}}</label>
		&nbsp;
    		
{% endfor %}

<input class="form-button-regular" type="submit" value="Submit for approval" />
</form>
<br>
<br>

</div><!-- .layout-content-wrap -->
{% endblock %}
