{% extends "base.html" %}

{% block content %}

<!--<div class="layout-posts-section">-->
{% for event in events %}

<article class="main-item-block main-item-style post-item">

    <div class="entry-masthead" 
    style="background-image: url('/webhost_media/{{event.image1}}')">
        <a href="{%url single event.id %}">&emsp;</a>
    </div>
    
    <header class="entry-header">
         
        <h1 class="entry-title">
            <a href="{%url single event.id %}">{{ event.title }}</a>
        </h1>
        <h3 class="entry-meta roboto-font">
            {{ event.created|date:"Y-m-d" }}
        </h3>
    </header>

</article>

{% endfor %}
<!--</div> .layout-posts-section -->

{% endblock %}
