{% extends "base.html" %}

{% block title %}
<title>USF Event - Homepage</title>
{% endblock %}

{% block content %}


<div class="layout-listview-header">
    <h1 class="page-hero-text">Upcoming Events</h1>
</div>

<div id="layout-posts-masonry">
{% for event in object_list %}

<div class="main-item-block main-item-style post-item">
   
    <img src="/webhost_media/{{event.image1}}" width="100%">
    
    <header class="entry-header">
         
        <h1 class="entry-title">
            <a href="{%url single event.id %}">{{ event.title }}</a>
        </h1>
        <h3 class="entry-meta roboto-font">
            {{ event.event_time|date:"Y-m-d" }}
        </h3>
    </header>

</div>

{% endfor %}
</div><!-- #layout-posts-masonry -->

{% endblock %}
