{% extends "base.html" %}

{% block content %}


<h2><a href="{%url single event.id %}">{{ event.title }}</a></h2>

<div class="event_meta">
  Event submitted on {{ event.created }}
</div>
<br/>
<div class="event_body">
  {{ event.body|safe|linebreaks }}
  <p><img src="/webhost_media/{{event.image1}}" width="500"/></p>
</div>


<div class="event_navi">
<a href="/admin/event/event/{{event.id}}">Edit this event</a>
</div>


<div class="event_comments">
{% if request.user.is_authenticated %}
<form action="{% url event.views.add_comment event.id %}" method="POST">
    {% csrf_token %}
    <input type="text" height="200" width="500" name="content" value="Post your comment here!"><br>
    <input type="submit" value="Post comment" />
</form>
{% else %}
<h2>Login is required for posting comments.</h2>
{% endif %}
</div>

{% endblock %}
