{% extends "base.html" %}

{% block content %}

<!--JQuery DatePicker css and js starts-->

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $( "#datepicker" ).datepicker();
});
</script>
<!--JQuery DatePicker css and js ends-->



<div class="layout-content-wrap">

<div class="layout-content-header">
    <h1 class="page-hero-text">Submit new event</h1>
</div>

<form class="form-search" action="" enctype="multipart/form-data" method="post">{% csrf_token %}

<div class="main-item-block">
	<div id="preview">
         <img id="imghead" src=''>
	</div>
	 <div style="position:relative;">
		<button id="browzer_button" 
		style="position:absolute; margin-left:30px; width:150px;"/>Upload poster</button>
		<input type="file" name="picture" style="opacity:0; z-index:1;"
		 onchange="document.getElementById('browzer_button').value = 
		 this.value;previewImage(this);" />
	 </div>
</div>


<div class="entry-content-block">
<input class="form-field-regular" type="text" name="title" placeholder="EVENT TITLE"/><br> 
<input class="form-field-regular" type="text" name="refer" placeholder="EVENT URL"/><br>
<input class="form-field-regular" type="text" name="date"  placeholder="EVENT DATE mm/dd/yyyy" id="datepicker" readonly/><br>
<label class="form-label-regular" for="major">Event Time:</label>
<select class="form-dropdown-regular" name="time" size="1">

  {% for time_hour in time_hours %}
	<option value="{{time_hour}}:00">{{time_hour}}:00</option>
	<option value="{{time_hour}}:15">{{time_hour}}:15</option>
	<option value="{{time_hour}}:30">{{time_hour}}:30</option>
	<option value="{{time_hour}}:45">{{time_hour}}:45</option>
  {% endfor %}
  
</select>
<input class="form-field-regular" type = "text" name="loc" placeholder="EVENT LOCATION"/><br>
<textarea class="form-textarea-regular" type = "text" name="body" row="5" placeholder="EVENT DETAIL"></textarea><br>

TAGS / CATEGORIES <br>

{% for tag in tags %}
<input type="checkbox" id="id_{{tag}}" name="tags" value="{{tag}}" >
<label style="display:inline;" class="form-label-regular" for="id_{{tag}}">{{tag}}</label>
&nbsp;
</input>    		
{% endfor %}

<input class="form-button-regular" type="submit" value="Submit for approval" />
</form>
<br>
<br>

</div><!-- .layout-content-wrap -->
{% endblock %}
