{% extends "base.html" %}

{% block content %}

<div class="layout-content-header">
    <h1 class="page-hero-text">{{ event.title }}</h1>
</div>



<div class="layout-entry-content clearfix-modern">

    <div class="entry-image">
        <img src="/webhost_media/{{event.image1}}" width="500"/>
    </div>
    <div class="entry-content">
        <div class="event-meta">
        <span class="page-subhero-text">{{ event.created }}</span>
        </div>
        {{ event.body|safe|linebreaks }}
    </div>
</div>
<div class="event-navi">
<a href="/admin/event/event/{{event.id}}">Edit this event</a>
</div>


<div class="layout-entry-comments">

{% if comments %}    
    {% for c in comments %}
        <div class="entry-comment">{{ c.content }}</div>
    {% endfor %}
{% else %}
    No comments yet.<br>
{% endif %}

{% if request.user.is_authenticated %}
    <form action="{% url event.views.add_comment event.id %}" method="POST">
        {% csrf_token %}
        <textarea type="text" height="200" width="500" name="content" value="Post your comment here!"></textarea><br>
        <input type="submit" value="Post comment" />
    </form>
{% else %}
    <h2><a href="{%url accounts.views.login %}">Login</a>
     is required for posting comments.</h2>
{% endif %}
</div><!-- .layout-entry-comments -->

{% endblock %}
