{% extends "base.html" %}

{% block content %}
<script src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
  var $container = $('#layout-posts-masonry');
  $container.imagesLoaded( function(){
    $container.masonry({
      // options
      itemSelector : '.main-item-block'
      });
  });
});
</script>

<div class="layout-content-header">
    <h1 class="page-hero-text">Upcoming Events</h1>
</div>

<div id="layout-posts-masonry">
{% for event in events %}

<div class="main-item-block main-item-style post-item">
   
    <img src="/webhost_media/{{event.image1}}" width="100%">
    
    <header class="entry-header">
         
        <h1 class="entry-title">
            <a href="{%url single event.id %}">{{ event.title }}</a>
        </h1>
        <h3 class="entry-meta roboto-font">
            {{ event.created|date:"Y-m-d" }}
        </h3>
    </header>

</div>

{% endfor %}
</div><!-- #layout-posts-masonry -->

{% endblock %}
