{% extends "base.html" %}

{% block content %}
<div id="login">
			
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
    <input type="text" id="id_email" name="email" placeholder=" EMAIL " maxlength="100" size="20" />
    <br>
    <input type="password" id="id_password" name="password" placeholder=" PASSWORD " maxlength="30" size="20" />
    <br>
    <input type="submit" value="Login"/>
    </form>
            
</div>

{% endblock %}
