{% extends "base.html" %}

{% block content %}
<div class="layout-content-wrap">

<div class="layout-content-header">
    <h1 class="page-hero-text">Login</h1>
</div>

<style>
.form-field-regular {
}
</style>

<div id="login" class="main-item-block">
			
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
    <input class="form-field-regular" type="text" id="id_email" name="email" placeholder=" EMAIL " maxlength="100" size="20" value="{{ email }}"/>
    {% if errors %}
        {% for e in errors %}
            {% if forloop.counter0 == 0 %}
                {% if e %}
                {% else %}
                <span class="form-prompt">* Invalid email</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
    {% endif %}
    <br>
    <input class="form-field-regular" type="password" id="id_password" name="password" placeholder=" PASSWORD " maxlength="30" size="20" />
    {% if errors %}
        {% for e in errors %}            
            {% if forloop.counter0 == 1 %}
                {% if e %}
                {% else %}
                <span class="form-prompt">* Invalid password</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
    {% endif %}
    <input class="form-button-regular" type="submit" value="Login"/>
    </form>
            
</div>

</div><!-- .layout-content-wrap -->
{% endblock %}
