{% extends "base.html" %}

{% block content %}

{%if request.user.is_authenticated %}
<div class="layout-content-header">
    <h1 class="page-hero-text">{{ username }}'s Profile</h1>
</div>

<div class="layout-entry-content clearfix-modern">

    <div class="entry-image">
        <img src="/webhost_media/{{up.avatar}}" width="250"/>
    </div>
    <div class="entry-content" width="650">
        <h3>My Interest is {{up.interest}}</h3>
        <h3>My Location is {{up.location}}</h3>
        <h3>My Preference is {{preferences}}</h3>

    </div>
        
</div>




    <div class="main-item-block main-item-style post-item">
    <h3>Message Sent List: </h3>

    {% for msg in msg_sent_list %}
    <strong>From:</strong> {{msg.msg_from.django_user}}<br>
    <strong>To:</strong>{{msg.msg_to.django_user}}<br>
    <strong>Content:</strong>{{msg.content}}<br>
    <strong>Date:</strong>{{msg.time}}<br>
    {% endfor %}
    </div>


    <div class="main-item-block main-item-style post-item">
    <h3>Message Received List: </h3>

    {% for msg in msg_received_list %}
    <strong>From:</strong> {{msg.msg_from.django_user}}<br>
    <strong>To:</strong>{{msg.msg_to.django_user}}<br>
    <strong>Content:</strong>{{msg.content}}<br>
    <strong>Date:</strong>{{msg.time}}<br>
    {% endfor %}
    </div>
        
        
        
    <div class="main-item-block main-item-style post-item">
    <h3>My Event Preferenced is{{eventPreferenced}}:</h3>
    <br>
    {% for event in eventPreferenced %}
        <p>Event Title: {{event.title}}</p>
    {% endfor %}
    </div>
    
    <div class="main-item-block main-item-style post-item">
    {% for like in likes %}
        <p>This user liked: {{ like.event }}</p>
    {% endfor %}
    </div>
        

    <div class="main-item-block main-item-style post-item">
    <h3>You have {{friends|length}} friends.</h3>
	{% for f in friends %}
        <p>{{ f.friend_to.django_user }}</p>
    {% endfor %}
    </div>

    <div class="main-item-block main-item-style post-item">

    <h3>Friends Events List: </h3>
	{% for event in friends_events %}
        <h2><a href="{% url single event.id %}">{{ event.title }}</a></h2>
    	   <div class="event-meta">
        {{ event.created }}
	   <br>
         </div>
     {% endfor %}
    </div>


    
{%endif%}
    
{% endblock %}
