{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

<div class="layout-content-header">
    <h1 class="page-hero-text">Hi, {{ up.firstname }}</h1>
    <a href="{% url accounts.views.edit_profile %}">Edit Profile</a>
</div>

<div class="layout-profile-content clearfix-modern">
    <div class="profile-image main-item-block">
        <img class="user-avatar-major" src="/webhost_media/{{ up.avatar }}"/>
    </div>
    
    <div class="profile-content main-item-block">
        <div class="profile-metadata">
            <h3 class="profile-type">
                {% if up.affiliation_type == 0 %}
                    Student
                {% endif %}
                {% if up.affiliation_type == 1 %}
                    Staff
                {% endif %}
                {% if up.affiliation_type == 2 %}
                    Faculty
                {% endif %}
            </h3>
            <h3 class="profile-major">{{ up.major }}</h3>
            <h3 class="profile-grad">Class of {{ up.graduation_year }}</h3>
            
            <a href="">
            <div class="form-button-mini profile-following-button">
                Following {{ friends_num }} friends
            </div>
            </a>
            <h3 class="profile-bio"><!--<strong>Bio:</strong>--> {{ up.bio }}</h3>
        </div><!-- .profile-metadata -->
    </div><!-- .profile-content -->      
</div><!-- .layout-profile-content -->


<div class="layout-profile-content layout-profile-list">
    <div class="profile-content-header">
        <div class="profile-header">
        Events saved by you
        </div>
    </div><!-- .profile-content-header -->
    <div class="profile-list-event">
        {% if likes %}
        {% for e in likes %}
        
        <div class="profile-event-unit clearfix-modern">
            <div class="profile-event-metadata">
            <h3 class="event-unit-title">
                <a href="{%url event.views.single e.event.id %}">{{ e.event.title }}</a>
            </h3>
            <h4 class="event-unit-time roboto-font"><strong>When:</strong> {{ e.event.event_time }}</h4>
            <h4 class="event-unit-loc roboto-font"><strong>Where:</strong> {{ e.event.location }}</h4>
		 <a href="{% url event.views.unlike_event e.event.id %}">Unsave this event</a>
            </div><!-- .profile-event-metadata -->
            <div class="profile-event-image">
            <a href="{%url event.views.single e.event.id %}">
            <img class="event-avatar-mini" src="/webhost_media/{{ e.event.image1 }}"/>
            </a>
            </div><!-- .profile-event-image -->
        </div><!-- .profile-event-unit -->
        
        {% endfor %}
        {% else %}
            {{ request.user }} currently does not have any liked events.
        {% endif %}
    </div>
</div><!-- .layout-profile-content layout-profile-list -->


<div class="layout-profile-content layout-profile-list">
    <div class="profile-content-header">
        <div class="profile-header">
        Events of your friends
        </div>
    </div><!-- .profile-content-header -->
    <div class="profile-list-event">
        {% for e in friends_events %}
        
        <div class="profile-event-unit clearfix-modern">
            <div class="profile-event-metadata">
            <h3 class="event-unit-title">
                <a href="{%url event.views.single e.id %}">{{ e.title }}</a>
            </h3>
            <h4 class="event-unit-time roboto-font"><strong>When:</strong> {{ e.event_time }}</h4>
            <h4 class="event-unit-loc roboto-font"><strong>Where:</strong> {{ e.location }}</h4>
            </div><!-- .profile-event-metadata -->
            <div class="profile-event-image">
            <a href="{%url event.views.single e.id %}">
            <img class="event-avatar-mini" src="/webhost_media/{{ e.image1 }}"/>
            </a>
            </div><!-- .profile-event-image -->
        </div><!-- .profile-event-unit -->
        
        {% endfor %}
    </div>
</div><!-- .layout-profile-content -->



    
{% endif %}
    
{% endblock %}
