{% extends "base.html" %}

{% block content %}
<div class="layout-content-wrap">

{%if request.user.is_authenticated %}

<style type="text/css">
.layout-profile-content {
  background-color: white;
  border: 1px solid #d0d0d0;
  margin: 0 0 30px;
}
.layout-content-wrap > .layout-profile-list {
  float:left;
  width: 506px;
}
.layout-content-wrap > .layout-profile-list:last-child {
  float:right;
  margin-right: 0px;
}
.profile-content-header {
  background-color: #F6F7F8;
  border-bottom: 1px solid #d0d0d0;
}
.profile-header {
  font-size: 18px;
  
  padding: 20px;
  text-transform: uppercase;
}
.profile-image {
  float: left;
}
.user-avatar-major {
  height: 200px;
  width: 200px;
}
.profile-hero {
  background-color: #508373;
  /* border-bottom: 1px solid #f0f0f0; */
  height: 200px;
}
.profile-content {
  float: left;
  width: 838px; /* 1040(wrap)-200(avatar)-1-1(borders) = 838 */
}
.profile-name {
  color: white;
  padding: 20px 20px 0;
}
.profile-metadata {
  color: white;
  padding: 0 20px 20px;
}
.profile-bio {
  font-size: 18px;
  padding: 20px 0 0;
}
.profile-friends {
  margin: 20px;
}
.user-friend-link {
  display: inline-block;
  margin: 0 10px 0 0;
}
</style>

<div class="layout-profile-content">
    <div class="profile-hero clearfix-modern">    
    <div class="profile-image">
        <img class="user-avatar-major" src="/webhost_media/{{ user.avatar }}"/>
    </div>
    
    <div class="profile-content">
        <h1 class="profile-name page-hero-text">
            {{ user.django_user.username }}
        </h1>

        <div class="profile-metadata">
            &raquo;{{ user.position }}&emsp;
            &raquo;{{ user.location }}&emsp;
            &raquo;{{ user.interest }}&emsp;
            <p class="profile-bio"><strong>Bio:</strong> {{ user.bio }}</p>
        
        </div><!-- .profile-metadata -->
    </div><!-- .profile-content -->    
    </div><!-- .profile-hero -->        
</div><!-- .layout-profile-content -->



<div class="layout-profile-content">
    <div class="profile-content-header">
        <div class="profile-header">
        {{ user.django_user.username }} is following {{ friends|length }} users
        </div>
    </div><!-- .profile-content-header -->
    <div class="profile-friends clearfix-modern">
        <h3>
	        {% for f in friends %}
	        <div class="user-friend-link" >
	        <a href="/user/{{ f.friend_to.django_user.id }}"
	        title="Go to {{ f.friend_to.django_user.username }}'s Profile">
	        <img class="user-avatar-mini" 
	        src="/webhost_media/{{ f.friend_to.avatar }} "/>
            </a>
            </div><!-- .user-friend-link -->
            {% endfor %}
        </h3>
    </div><!-- .profile-friends -->
</div><!-- .layout-profile-content -->



<div class="layout-profile-content layout-profile-list">
    <div class="profile-content-header">
        <div class="profile-header">
        Events saved by {{ user.django_user.username }}
        </div>
    </div><!-- .profile-content-header -->
</div><!-- .layout-profile-content layout-profile-list -->


<div class="layout-profile-content layout-profile-list">
    <div class="profile-content-header">
        <div class="profile-header">
        Events of {{ user.django_user.username }}'s friends
        </div>
    </div><!-- .profile-content-header -->
</div><!-- .layout-profile-content layout-profile-list -->




{%endif%}
    
</div><!-- .layout-content-wrap -->
{% endblock %}
