{% extends "base.html" %}

{% block content %}
<div class="layout-content-wrap">

<div class="layout-content-header">
    <h1 class="page-hero-text">New user sign-up</h1>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}


<div class="main-item-block">
	<div id="preview" class="aligncenter">
         <img id="imghead" src=''>
	</div>
	 <div style="position:relative;" class="aligncenter">
		<button id="browzer_button" 
		style="position:absolute; margin-left:50px; width:150px;"/>Browser</button>
		<input type="file" name="picture" style="opacity:0; z-index:1;"
		 onchange="document.getElementById('browzer_button').value = 
		 this.value;previewImage(this);" />
	 </div>
</div>

<div class="entry-content-block">
    <input class="form-field-regular" type="text" id="id_firstname" name="firstname" placeholder=" FIRSTNAME " maxlength="100" size="20" />
    <input class="form-field-regular" type="text" 
    id="id_lastname" name="lastname" placeholder=" LASTNAME " maxlength="100" size="20" />
    <input class="form-field-regular" type="text" id="id_email" name="email" placeholder=" EMAIL " maxlength="100" size="20" />
    <br>
    <input class="form-field-regular" type="password" id="id_password" name="password" placeholder=" PASSWORD " maxlength="30" size="20" />

    <label for="id_aff_stu">YOUR AFFILIATION</label>
    <input type="radio" id="id_aff_stu" name="aff" value="0" checked>STUDENT &emsp;
    <input type="radio" id="id_aff_sta" name="aff" value="1">STAFF &emsp;
    <input type="radio" id="id_aff_fac" name="aff" value="2">FACULTY
    <label for="major">YOUR MAJOR</label>
    <select name="major" id="major" size="1">
        <option value="{{ y }}">&emsp;{{ y }}&emsp;</option>
    </select>
    <label for="grad_year">YOUR GRADUATION YEAR</label>
    <select name="grad_year" id="grad_year" size="1">
        {% for y in grad_years %}
        <option value="{{ y }}">&emsp;{{ y }}&emsp;</option>
        {% endfor %}
    </select>
    <input class="form-field-regular" type="text" id="id_affmsg" name="affmsg" placeholder=" AFFILIATION MESSAGE (IF YOU HAVE ONE) " maxlength="200" size="40" />
    <br> 
    <textarea class="form-field-regular" type="text" id="id_bio" name="bio" rows="3" cols="40" maxlength="500" placeholder="WRITE A SHORT BIO FOR YOURSELF"></textarea>
    <br>

    <input type="submit" value="Register"/>
    <br><br>
    </form>
</div>
       
</div><!-- .layout-content-wrap -->
{% endblock %}
