{% extends "base.html" %}

{% block content %}
<div class="layout-content-wrap">

<div class="layout-content-header">
    <h1 class="page-hero-text">New user sign-up</h1>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}


<div class="page-subhero-text">Upload your profile image</div>
<input type="file" name="picture"/>

<br><br>

<div class="page-subhero-text">Fill out your basic info</div>
<table border="0" cellpadding="0" >
{{form.as_table}} 
</table>

<br>

<div class="page-subhero-text">Tell us a bit more about yourself</div>

<label for="id_location">YOUR LOCATION</label>
<br>
<input id="id_location" maxlength="30" type="text" name="location" size="20" />
<br>
<label for="id_interest">AN INTEREST YOU LOVE</label>
<br>
<input id="id_interest" maxlength="30" type="text" name="interest" size="20" />
<br>
<label for="id_position">YOUR CURRENT POSITION</label>
<br>
<input id="id_position" maxlength="30" type="text" name="position" size="20" />
<br> 
<label for="id_bio">WRITE A SHORT BIO FOR YOURSELF</label>
<br> 
<textarea id="id_bio" type = "text" name="bio" rows="3" cols="40">Just a mundane creature, a half-decent human being, a humble community member, a dedicated USF spirit.</textarea>

<br><br>

<div class="page-subhero-text">Preferences of events</div>
<input type="checkbox" name="preferences" value="lectures" checked/>Lectures
<input type="checkbox" name="preferences" value="greek life" />Greek Life
<input type="checkbox" name="preferences" value="clubs" />Clubs

<br><br>

<input type="submit" value="Register"/>
<br><br>
</form>
       
</div><!-- .layout-content-wrap -->
{% endblock %}
