{% extends "base.html" %}


{% block title %}
<title>USF Event - Homepage</title>
{% endblock %}

{% block content %}
{% for event in object_list %}
<div class="grid_12 event-block">

{% if event.flagged %}
<h4>This event is not showing because it's flagged.</h4>
{% else %}
<h2><a href="/event/{{event.id}}">{{ event.title }}</a></h2>

<div class="event_meta">
  on {{ event.created }}
</div>
<!--
<div class="event_body">
  {{ event.body|safe|linebreaks }}
</div>
-->
<div class="event_tags">
  {% for tag in event.tags.all %}
  <a href="/event/tag/{{tag}}">{{tag}}</a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
</div>

</div><!-- .grid_12 -->
<!-- clear the row every 3 blocks -->
{% if forloop.counter|divisibleby:3 %}
<div class="clear"></div>
{% endif %}

{% endif %}

{% endfor %}

{% endblock %}
