<html lang="en">
<head>
<meta charset="utf-8" />
{% block title %}
<title>USF Event Demo</title>
{% endblock %}
<link rel="stylesheet" href="/webhost_media/static/style.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://www.steamdev.com/zclip/js/jquery.zclip.min.js"></script>
</head>

<body>
<div class="layout-page-wrap">
    
    <header class="layout-header-wrap">
    <div class="layout-main-wrap">
    
        <nav class="external-nav">
        <li class="external-item"><a href="/events">Don's Affairs</a></li>
        {% if request.user.is_authenticated %}
        <li class="external-item"><a href="/">Profile</a></li>
        <li class="external-item"><a href="{%url accounts.views.logout %}">Logout</a></li>
        {% else %}
        <li class="external-item"><a href="{%url accounts.views.register %}">Register</a></li>
        <li class="external-item"><a href="{%url accounts.views.login %}">Login</a></li>
        {% endif %}
        </nav>
    
    
        <!-- Currently search does not work -->
        <form role="search" method="get" id="searchform" action="/events/search">
          <input id="searchform-text" type="text" value="{{request.session.query_session}}" name="query" id="query" />
		<select id = "sorted_method_id" name="sorted_method">
  			<option value="desc">Descending Order</option>
  			<option value="asc">Ascending Order</option>
  			<option value="alphabet">Alphabetical Order</option>
		</select>
          <input id="searchform-submit" type="submit" id="searchsubmit" value="Search" />
        </form>
        
    </div><!-- .layout-main-wrap -->
    </header><!-- .layout-header-wrap -->
    
    <header class="layout-subheader-wrap">
    Subheader here
    </header><!-- .layout-subheader-wrap -->
    
        
    <div class="layout-main-wrap">
    <div class="layout-main-inner-wrap">
    
    <aside class="layout-sidebar-wrap">
        <!--<a href="/events"><h1><img src="/webhost_media/static/gc_logo.png" class="site-logo-img"></h1></a>!-->
        <div class="sidebar-divider">GATEWAYS</div>
        <!--<h4><a href="/admin">Admin</a></h4>-->
        <h4><a href="{%url event.views.post %}">Submit event</a></h4>
        <h4><a href="{%url event.views.archives %}">Event archives</a></h4>
        <h4><a href="{%url event.views.msg_send %}">Send messages</a></h4>
        
        <div class="sidebar-divider">POPULAR CATEGORIES</div>
        
        <h4><a href="/events/tag/lecture">Lecture</a></h4>
        <h4><a href="/events/tag/academic">Academic</a></h4>
        <h4><a href="/events/tag/sports">Sports</a></h4>
        <h4><a href="/events/tag/art">Art</a></h4>
        <h4><a href="/events/tag/music">Music</a></h4>
        
    </aside><!-- .layout-sidebar-wrap -->


    <div class="layout-primary-wrap">
    
    <script src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
    <script type="text/javascript">
    $(function(){
      var $container = $('#layout-posts-masonry');
      $container.imagesLoaded( function(){
        $container.masonry({
          // options
          itemSelector : '.main-item-block'
          });
      });
    });
    </script>
    
    
        {% block content %}
        {% endblock %}
    </div><!-- .layout-primary-wrap -->
    
    
    </div><!-- .layout-main-inner-wrap -->
    </div><!-- .layout-main-wrap -->

</div><!-- .layout-page-wrap -->
</body>
